
	<div class="row">
		<div class="navwrapper">
			<div class="col-md-3 col-xs-3 sidebar">
				<div class="navtitle"><a href="/">STAR IN ME</a></div>
				<ul class="sideul">
					<li class="sideli"><a href="/star/introduce.erb">소개</a></li>
					<li class="sideli"><a href="/star/team.erb">팀소개</a></li>
					<li class="sideli"><a href="/star/rule.erb">이용약관</a></li>
					<li class="sideli"><a href="/star/faq.erb">FAQ</a></li>
					<li class="sideli"><a href="/star/privacy.erb">개인정보보호</a></li>
				</ul>
				<div class="navicon">
					<div class="instagram">
						<a href="http://instagram.com"><%= image_tag "instagram.png", size:"20x20" %></a>
					</div>
					<div class="facebook">
						<a href="http://facebook.com"><%= image_tag "facebook.png", size:"15x20" %></a>
					</div>
				</div> <!-- navicon end-->
			</div><!-- col3 end -->
		</div> <!-- navwrapper end -->
		<div class="col-md-9 col-xs-9 navabsolute">
