
<div class="subroot">
	<%= render partial: "sidemenu" %>
			<div class="mainwrapper">
				<div class="row">
					<div class="col-md-1 col-xs-1"></div>
					<div class="col-md-10 col-xs-10 contents">
						<h1>STAR IN ME</h1>
						<p>STAR IN ME에서 당신의 능력을 공유하세요.<br>
						간단하게 휴대폰으로 당신이 가진 능력을 올려보세요.<br>
						STARINME는 누구나 가진 능력을  Networking하는 서비스입니다.</p>
					</div>
					<div class="col-md-1 col-xs-1"></div>
				</div><!-- row end -->
			</div><!-- mainwrapper end -->
		</div><!-- render / col9 / end -->
	</div> <!-- render / row / end -->

</div>
	
