
<div class="subroot">
	<%= render partial: "sidemenu" %>
			<div class="mainwrapper">
				<div class="row">
					<div class="col-md-1 col-xs-1"></div>
					<div class="col-md-10 col-xs-10 contents">
						<h1>약관</h1>
						<p>-<br></p>
					</div>
					<div class="col-md-1 col-xs-1"></div>
				</div><!-- row end -->
			</div><!-- mainwrapper end -->
		</div><!-- render / col9 / end -->
	</div> <!-- render / row / end -->

</div>
	
